$color__background-body: #18384B;
$color__colorbackground-header: #3CA6A6;
$color__colorbackground-barre: #2A7A8C;
$color__colorbackground-main: #2E4D59;
$color__colorbackground-footer: #3CA6A6;

$color__link: #00f;
$color__link-visited: rgb(91, 91, 185);
$color__link-hover: #00a;
$background__link-hover: rgb(190, 190, 243);