.site__footer {
    section {
        color: white;
        display: flex;
        justify-content: space-around;
    }
    
}

.site__footer-adresse {
    width: 20%;
}

.site__footer-par3 {
    width: 20%;
}

.site__footer-copyright {
    color: white;
    text-align: center;
}