.site__header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width : $largeur__media-tablette){
        flex-direction: row;
    }

    &__titre{
        display: flex;
        align-items: center;
        margin: 0;


        h1{
            font-size:clamp(2rem, 4vw, 6rem);
            text-align: center;
            padding: 0 1rem 1rem 2rem;
            
            @media screen and (min-width : $largeur__media-tablette){
                padding: 0 2rem 0 2rem;
            }     
        }

        h2{
            font-size:clamp(1rem, 2vw, 4rem);  
        }
    }
}

.site__main > h2 {
    padding-left: 2rem; 

}

.util{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
    @media screen and (min-width: $largeur__media-tablette){
        width: 25%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-right: 2rem;   
    }
}
.icone{
    svg {
        height: clamp(20px, 2vw, 2vw);
        width: clamp(20px, 2vw, 2vw);
        @media screen and (min-width: $largeur__media-tablette){
           
        }
    }

    @media screen and (min-width: $largeur__media-tablette){
        margin-left: -10rem;
        padding-right: 2rem;
            
    }
}


.recherche{
    position: relative;
    width: 90%;
    
    padding-bottom: 5px;

    @media screen and (min-width: $largeur__media-tablette){
        width: 70%;         
    }
 
    &__input{
        border:none;
        outline:none;
        background-color: rgb(105, 18, 18);
        border-radius: 5px;
        width: 100%;
        height: 100%;
        
    }
    &__bouton{
        top: 0;
        right:0;
        border:none;
        outline:none;
        height: 80%;
        width:20px;
        position: absolute;
        display:flex;
        align-items: center;
        justify-content: center;
        // svg{}
    }

}